.app {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.cart {
  border: 1px solid #333;
  padding: 1rem;
  flex-grow: 3;
}

.products {
  padding: 1rem;
  text-align: right;
  flex-grow: 9;
}

.products button {
  margin-right: 1rem;
}
